h1 {
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 100px;
	margin-bottom: 20px;
}
/* Stops hyperlink of logo changing colour and underlining */
h1 a, h1 a:hover {
	color: black;
	text-decoration: none
}
h2 {
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
	font-size: 38px;
	margin-bottom: 30px;
}
h3 {
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
	margin-bottom: 50px;
}
body {
	background-color:transparent;
	font-family: 'Advent Pro', sans-serif;
}

/* Override Bootstrap 'row' class */
.row { text-align: center; }

.mybutton {
	display: flex; /* Enable justify-content/align-items usage */
	align-items: center; /* Vertical centre */
	justify-content: center; /* Horizontal centre */
    height: 500px;
    width: 80%;
    margin: auto;
	font-size: 60px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 100px;
}
.mybutton:hover { 
    background-color: yellow;
    transition-timing-function: linear;
    transition-duration: 1s;
}

.homepage { 
	background: url(images/skyline.jpeg) no-repeat center center fixed; 
	background-size: cover;
}
.Low {
	background: url(images/sunset.jpg) no-repeat center center fixed; 
	background-size: cover;
}
.nav-tabs {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10px;
	font-size: 50px;
	display: flex; /* Enable justify-content/align-items usage */
	align-items: center; /* Vertical centre */
	justify-content: center;
}

/* Hyper links in the tab navigation */
.nav-tabs a {
	text-align: center;
}

.tab-content {
	display: inline-block; 
	color: white;
	margin-top: 50px;
	margin-right: 5%;
	margin-bottom: 10px;
	margin-left: 5%;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.tab-pane .col-sm-4 {
	padding: 5px;
}

/* Fix issue where starting active tab-pane displays differently to others */
/* Source: http://stackoverflow.com/questions/17206631/why-are-bootstrap-tabs-displaying-tab-pane-divs-with-incorrect-widths-when-using#answer-23267110 */
.tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

/* Ensure images fill the width they're given */
img, iframe { max-width: 100%; }

/* Style the suggestions link so it's fixed the top right */
#suggestions-link {
    color: white;
    position: fixed;
    top: 0;
    margin: 10px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
}

/* Style the copyright footer so it's fixed to the bottom */
footer {
    position: fixed;
	bottom: 0;
    text-align: right;
    background-color: black;
    color: white;
	width: 100%;
	padding: 5px;
}