h1 {
	text-align: center;
	font-family: 'Monoton', cursive;
	font-size: 100px;
	margin-bottom: 120px;
}
body {
	background-color:transparent;
	font-family: 'Advent Pro', sans-serif;
}

/* Override Bootstrap 'row' class */
.row { text-align: center; }

.mybutton {
	display: flex; /* Enable justify-content/align-items usage */
	align-items: center; /* Vertical centre */
	justify-content: center; /* Horizontal centre */
    height: 500px;
    width: 80%;
    margin: auto;
	font-size: 60px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
.mybutton:hover { 
    background-color: yellow;
    transition-timing-function: linear;
    transition-duration: 1s;
}
.btn-secondary{
	width: 250px;
}

html { 
	background: url(images/skyline.jpeg) no-repeat center center fixed; 
	background-size: cover;
}